@model LibraryManagementSystem.Models.Entity.AUTHOR

@{
    ViewBag.Title = "AuthorGet";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("AuthorUpdate", "Author", FormMethod.Post))
{<div style="margin-bottom:15px"></div>
 <div class="form-group">
     <div style="margin-bottom:15px">
         <label>AUTHOR ID</label>
         @Html.TextBoxFor(a => a.ID, new { @class = "form-control" })

     </div>
     <div style="margin-bottom:15px">
         <label>AUTHOR NAME</label>
         @Html.TextBoxFor(a => a.NAME, new { @class = "form-control" })

     </div>
     <div style="margin-bottom:15px">
         <label>AUTHOR LASTNAME</label>
         @Html.TextBoxFor(a => a.SURNAME, new { @class = "form-control" })

     </div>
     <div style="margin-bottom:15px">
         <label>AUTHOR DETAIL</label>
         @Html.TextBoxFor(a => a.DETAIL, new { @class = "form-control" })

     </div>
     <button class="btn btn-warning">AUTHOR INFO UPDATE</button>
 </div>
}

