@using LibraryManagementSystem.Models.Entity
@model List<AUTHOR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Authors</h2>
<table class="table table-striped">
    <tr style="background-color: #FFB400">
        <th>ID</th>
        <th>NAME</th>
        <th>LASTNAME</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>Author's Books</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.NAME</td>
            <td>@item.SURNAME</td>
            <td>@Html.ActionLink("Delete", "AuthorDelete", new { id = item.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Are you want delete')" })</td>
            <td><a href="/Author/AuthorGet/@item.ID" class="btn btn-warning">UPDATE</a> </td>
            <td><a href="/Author/AuthorBooks/@item.ID" class="btn btn-default" style="background-color:lightseagreen">Author's Books</a></td>

        </tr>
    }
</table>
<a class="btn btn-primary" href="/Author/AuthorAdd/">NEW ADD AUTHOR</a>
