@using LibraryManagementSystem.Models.Entity
@model List<LOANS>
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<br />
<h2>Kitap Geçmişim</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Kitap Adı</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
        <th>Üye İade Tarihi</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.BOOK.NAME</td>
            <td>@Convert.ToDateTime(k.BORROWDATE).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.DUEDATE).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.USERRETURN).ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>