@model LibraryManagementSystem.Models.Entity.CATEGORY
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <br />
    <div>
        <label>Category Name</label>
        <input type="text" class="form-control" name="NAME"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">CATEGORY ADD</button>
    </div>
</form>

